div.immovableViewContent{
    position: absolute;
    width:100vw;height: 100vh;
    padding:0;
    margin:0;
    
}
div.carrousel{
    position:relative;
    width: 80vw;
    height: 25vh;
    border: solid black 3px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
}
div.immovableSpecs{
    position:relative;
    width: 75vw;
    height: 19vh;
    border-left: solid black 3px;
    border-right:  solid black 3px;
    border-top: solid black 3px;
    display:block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
div.priceDiv{
    position:relative;
    border-bottom: black solid 3px;
    width:75vw;height: 6vh;
}
div.specDiv{
    position: relative;
    display:inline-block;
    border-left: black 2px;
    width:37.5vw;height: 5vh;
}
div.immovableDetails{
    position:relative;
    max-width: 75vw;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: solid black 3px;
    display:block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
p.descriptionBody{
    text-align: justify;
    color: lightgray;
    font-size: 15px;
}
label.report{
    position: relative;
    font-size: 16px;
}
label.spec{
  display:block;
  margin-left:2%;
  color:lightgrey;
}
label.specTitle{
  color: black;
  margin-left: 1%;
}
div.generalDescription{
    position:relative;
    width: 75vw;
    max-width: 75vw;
    flex-wrap: wrap;
    flex-direction: row;
    border:black solid 3px;
    display:block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto; 
}
div.featureDiv{
    position: relative;
    display:inline-block;
    max-width: 25vw;
    flex-wrap: wrap;
    flex-direction: column;
   
    width:25vw;
}
label.featureTitle, label.feature{
    display:block;
    position: relative;
    margin-bottom:3vh;
    margin-left: 2vw;

}
label.featureTitle{
  color:black;
}

div.commonAreas{
    position:relative;
    width: 75vw;
    max-width: 75vw;
    flex-wrap: wrap;
    flex-direction: row;
    border:black solid 3px;
    display:block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto; 
}
h3.descriptionTitle{
  margin-left: 2vw;
}
ul.commonPlaces{
columns:3;
column-gap: 20vw;
row-gap: 2vh;
}
li{
    position: relative;
    
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background:lightblue;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  div.SpinnerDiv{
    position:absolute;
    left: 40vw;
    top:45vh;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  div.MapTitleContainer{
    display:block;
    width: 75vw;
    height:75vh;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    border:black solid 3px;
  }
div.MapContainer{
  width: 98%;
  height:80%;
  margin-left: auto;
  margin-right: auto;
}
