.loginDiv{
    position:absolute;
    top:30vh;left: 40vw;
    height: 100px;width:300px;  
    border-bottom: 10px solid lightsteelblue;
    background-color: rgba(211, 211, 211, 0.76);
}
.loginTitle{
    text-align: center;
    font-size: 20px;
}

.forms{
    position:absolute;
    height:100px;width: 300px;
    top:50px;left:0px;
    border-bottom: 15px solid lightblue;
    background-color: lightgrey;
}

input{
    position: absolute;
    left:50px;
    height:15px;
    width: 200px;
    margin:2px 0;
}
.loginButton{
    position:absolute;
    left:35px;bottom:10px;
}
.registerLink{
    position:absolute;
    font-size:  13px ;
    left:140px;bottom:0px
}  