.Combo-de-inmueble{
    border: solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}
.checkboxes label:hover {
  background-color: #1e90ff;
}