.Immovable-type{
    border: solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.Purchase-type{
    border: solid;
    border-color: black;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.search{
    display: flex;
    justify-content: center;
    width: 60%;
}