select.Immovable-type{
   
    width: 100%;
}
div.selectContainer{
  
    
    width: 22%;
    display: inline-block;
    margin-left: 2%;
}

select.Purchase-type{
    display: inline-block;
    width: 100%;
}
div.inputContainer{
    display: inline-block;
    width: 30%;
    margin-left: 2%;
    max-height: 10vh;
    flex-wrap: wrap;
    flex-direction: column;
}

div.search{
    margin-top:8vh;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
    height: 4vh;  
}
div.linkButton{
    
    display: inline-block;
    width: 12%;
    margin-left: 2%;
}
.link{
    color: rgb(5, 4, 4);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
